.moviecard {

  //border: solid 1px red;
  padding: .5rem;
  height: 500px;
  width: 250px;
  flex-basis: 1;
  overflow: auto;
  overflow-x: hidden;

  img {
    width: 240px;
    height: 250px;
  }
}